.friends-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
}
.friendCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 200px ;
    padding: 30px;
    margin: 10px;
    margin-top: 40px;
    font-size: 16px;
    color: #939597;
    line-height: 1;

}
.users-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

.friendCard .userName {
    font-weight: bold;
    color: black;
}
.friendCard .userImg{
    width: 80px;


}
.friendCard span {
    margin:10px;
}
.friends-page .friendReq-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.friends-page .friendReq-section a{
   width: 100%;
}
.friends-page .friendReq-section .friend-request{
    display:flex;
    width: 100%;
}
.wrapper h3 {
width: 100%;


}
.friends-page .friendReq-section .seeMore {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f0f2f5;
    color: #939597;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 20px;
    width: 40%;


}
.friends-page .friend-request {
    margin-top:10px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

.friends-page .friendReq-section .notification span {
    margin-right: 20px;
}
/*----FriendsElement--------*/
.friends {
    background-color: white;
    width: 100%;
    border-radius: 15px;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.friends span {
    font-weight: bold;
    font-size: 15px;
}
.friends-wrapper {
    display: flex;
    flex-wrap: wrap;

}
.friends-wrapper .userImg {
    width: 60px;
    margin: 5px;
}
.all-users {
    flex-direction: column;
    margin-top:5px!important;

}
.all-users .users-section {
}
.all-users button {
width: 100%;
    margin-top:-30px!important;

}
.all-users .friendCard{
    margin-bottom: 0px;
}
.users-page {
    flex-direction: row!important;
    width: 80%;
    flex-wrap: wrap;
    margin:20px auto!important;
}
