header{
    height:70px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1px 0 0 rgba(139,141,157,.05), 0 0 1px 0 rgba(65,71,108,.15);

}

header div {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
header .logo {

}

header .middle {
    display: flex;
    justify-content: space-around;
    width: 400px;
}
header .middle .icons {
    display: flex;
    justify-content: space-around;
    width:400px;
}
header .middle .icon-wrapper {
    display: flex;
    width: 30px;
    height: 30px;
    padding:5px;
    top:0;
    z-index: 100;
    max-width: 30%;


}
header .middle .icon-wrapper:hover ,.user-dropdown .elements:hover {
    background-color: rgba(208, 203, 203, 0.5);
    border-radius: 5px;
}
header .icon-wrapper {
    cursor: pointer;

}
header .third {
    width: 700px;

}

header .third .user  img {
    width: 50px;
    margin-left: 5px;
    cursor: pointer;

}
header .third .separator {
    background: #626060;
    height: 24px;
    max-height: 24px;
    width: 1px;
    display: inline-block;
    margin: 0 8px;
    opacity: .2;
    padding: 0;
    vertical-align: middle;
}

