.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 80%;
}
.home-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}
.no-posts {
    display:flex;
    align-items:center;
    justify-content: center;
}
.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 400px;
    gap: 30px;
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    background-color: #78289f;
    padding: 20px;
    border-radius : 5px;
    color: white;
    border: none;
}