.profil {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.profil-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin-bottom: 40px;
}
.profil-header .user-img {
    margin-bottom: -20px;
    z-index:2;

}

.profil-header .user-img img {
    width: 100px;
    height: 100px;
}
.profil-header .user-img .userBadge {
    top: -40px;
    right: -80px;
}

.profil-header .infos {
    background-color: white;
    width: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    padding-top: 40px;

}

.profil-header .infos span {
    font-size: 14px;
    color: #939597;
    line-height: 1;
}
.profil-header .infos .user-details{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.profil .partTwo{
    flex: 2;
}
.profil .partOne{
    flex: 1
}
.profil .profile-body {
    display: flex;
    flex-wrap: nowrap;
    width: 70%;
    gap: 30px;
    justify-content: space-between;

}

.friend-btn button {
    height: 30px;
    border-radius: 15px;
    background-color: #9366a9;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-top: 40px;
}
.friend-btn button:hover {
    transform:scale(1);
    background-color: #dc9ad9;
    color: #78289f;
}
.profil .partOne .userImg {
}
.profil .partOne .friends-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:5px;
}

.friends .user-name {
    font-size: 10px;
    font-weight: bolder;
    color: #595858;
    line-height: 1;
    margin-top: 10px;
}
.friends .element {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:10px;
    width: 100px;

}
.friend-btn .request-sent-btn {
    background-color: #6b5cf1;
    color: #f2f3f5;
}
.friend-btn .request-sent-btn:hover {
    background-color: #8b87ad;
    color: #f2f3f5;
}
.user-not-found-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
